body, html {
  font-family: 'Roboto', Arial, sans-serif;

  height: 100%;
  margin: 0;
}
google-map {
  display: block;
  height: 100%;
}
core-toolbar {
  background: #03a9f4;
  color: white;
}
#inputs {
  top: 7px;
  left: 25px;
  position:absolute;
}
#inputs input {
  padding-left:10px;
  width: 450px;
}
core-field {
  background: #fff;
  border-radius: 3px;
  margin-top: 5px;
  width: 450px;
}
core-field core-icon {
  vertical-align: middle;
}

#title {
  display:block;
  margin:auto;
}